.form-new {
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
}
.form-new form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    margin-top: 20px;
}
.form-new form > input, .form-new form > label, .form-new form button {
    margin: 5px 0;
    padding: 8px;
    border-radius: 6px;
    
}

.form-new form > input, .form-new form button {
    border: 1px solid #ddd;
    outline-style: none;
}
.form-new form button, .form-new form > label {
    cursor: pointer;
}
.form-new form button {
    background: rgb(18, 151, 96);
    color: #fff;
}
.form-new form button:hover {
    background: rgb(4, 194, 115);
}
.form-new form > label input {
    display: none;
}